<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stu.wbw.mapper.PropertyValueMapper">

    <insert id="addPropertyValue" parameterType="PropertyValue" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into property_value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="product_id != null">
                product_id,
            </if>
            <if test="property_id != null">
                property_id,
            </if>
            <if test="value != null">
                value,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="product_id != null">
                #{product_id},
            </if>
            <if test="property_id != null">
                #{property_id},
            </if>
            <if test="value != null">
                #{value},
            </if>
        </trim>
    </insert>

    <delete id="deletePropertyValueById" parameterType="Integer">
        delete from tmall_ssm.property_value where id=#{id}
    </delete>

    <delete id="deletePropertyByProductId" parameterType="Integer">
        delete from tmall_ssm.property_value where product_id=#{product_id}
    </delete>

    <update id="updatePropertyValue">
        update property_value
        <set>
            <if test="product_id != null">
                product_id = #{product_id},
            </if>
            <if test="property_id != null">
                property_id = #{property_id},
            </if>
            <if test="value != null">
                value = #{value},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="queryPropertyValueById" parameterType="Integer" resultType="PropertyValue">
        select * from tmall_ssm.property_value where id=#{id};
    </select>

    <select id="queryAllPropertyValue" resultType="PropertyValue">
        select * from tmall_ssm.property_value;
    </select>

    <select id="queryByProductIdAndPropertyId" parameterType="Integer" resultType="PropertyValue">
        select * from tmall_ssm.property_value where product_id=#{product_id} and property_id=#{property_id}
    </select>

    <select id="queryByProductId" resultType="PropertyValue" parameterType="Integer">
        select * from tmall_ssm.property_value where product_id=#{product_id}
    </select>


</mapper>